*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle

/coverage/
/spec/tmp/*
**.orig

/log/*
/tmp/*
/public/system/*
/public/stylesheets/*
/public/assets/*
/db/*.sqlite3
/db/schema.rb
/vendor/erlyvideo/*
/nbproject
Gemfile.lock
