<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict> 
	<!-- Название - должно совпадать с названием файла -->
	<key>Label</key>
	<string>com.video.convert.app</string>
	<!-- Командная строка --> 
	<key>ProgramArguments</key>
	<string>thin start -d</string>
	<!-- Рабочий каталог сервиса -->
	<key>WorkingDirectory</key> 
	<string>/Users/administrator/video_convert</string> 
	<!-- Пути к логам --> 
	<key>StandardOutPath</key> 
	<string>/Users/administrator/video_convert/log/thin.log</string> 
	<key>StandardErrorPath</key> 
	<string>/Users/administrator/video_convert/log/thin.error.log</string> 
	<!-- Перезапускать сервис при ошибке --> 
	<key>KeepAlive</key> 
	<true/> 
	<!-- Запускать сервис при старте системы --> 
	<key>RunAtLoad</key> 
	<true/> 
</dict> 
</plist>