.b-admin-content
  .b-admin-content-title Waiting for your approval:
  .list
    .list-header
      = render :partial => "navigations"
      .list-content
        - if @items.present?
          - @items.each do |item|
            .item
              = link_to (image_tag '/assets/tmp/p2.png'), moderator_item_path(item), :class => "pjax media"
              = link_to item.description.truncate(120, :separator => " "), moderator_item_path(item), :class => "pjax text"
          .clear
          = paginate @items

        - else
          .no-items No items

        .clear