- if @notice[:type] != "error" && @comment.published?
  $("#comments ul").prepend("#{escape_javascript(render(:partial => 'comments/comment', :locals => {:comment => @comment}))}");
$("#comments .b-comments-form").html("#{escape_javascript(render :partial => 'comments/form', :locals => {:commentable => @item, :url => item_comments_path(@item)})}");

showHideNotice("#{@notice[:type]}", "#{@notice[:message]}");
