<script src='/javascripts/swfobject.js'></script>
<script>
  swfobject.embedSWF("/javascripts/ErlyvideoPlayer.swf", "ui", "100%", "600", "9.0.0", {}, { file: "#{name}" }, {});
</script>
<div id='ui'></div>