<!--
<script>
  swfobject.embedSWF("/assets/ErlyvideoPlayer.swf", "ui", "100%", "600", "9.0.0", {}, { file: '<%= @name %>' }, {});
</script>
<div id='ui'></div>
-->


<%= render :partial => 'partials/red5recorder', :locals => {:file_name => @file_name} %>
