<div class="fl-l" style="width:960px">
  <div class="fl-l">
    <%= render :partial => 'partials/webrecorder' %>

    <div class="clearfix">
      <div class="bar">
        <div class="progress-bar"><div class="inner">0</div></div>
        <p class="text" style="display:none;">merged file will available at http://89.209.76.243:5580/merged/</p>
      </div>
      <ul class="recorder-control fl-l">
          <li id="recorder-stop-start" class="button c-white">1.Start record</li>

          <li class="button bg-green c-white fileinput-button">
            <span><i class="icon-plus icon-white"></i>2.Add presentation file</span>
            <input type="file" name="file" multiple>
          </li>

          <!-- <li id="merge-video" class="button bg-green c-white">3.Merge video</li> -->
        </ul>
        <ul class="recorder-control fl-r">
          <li id="recorder-status" class="recorder-icon" style="padding-top: 5px;"></li>
      </ul>
    </div>
  </div>
  <!-- <div class="fl-l">
    <%#= render :partial => 'partials/player', :locals => {:file_name => @file_name} %>
  </div> -->
</div>

<script>
  var prerecord = false,
      prestartSync = function(){
        if (prerecord) return false;
        prerecord = true;
        var duration = 5,
            intervalCount = 0,
            el = document.getElementById("recorder-status"),
            interval = setInterval( function(){
              intervalCount++;
              el.innerHTML = intervalCount;
              if (intervalCount == duration){
                clearInterval(interval);
                setTimeout(function() { startRecord(); prerecord=false; }, 1000);
              }
            }
            , 1000 );
      },
      mergeFunc = function(){
        var data = {  recordingFileName: recordingFileName,
                      presentationVideoFileName: '<%= @file_name %>'
                    };
        $.ajax({
          url: "/file/merge",
          type: "POST",
          dataType: "json",
          data: data,
          success: function(data){
            console.log(data);
          }
        });
      };
  document.getElementById("recorder-stop-start").addEventListener('click', function(){
      recordind ? stopRecord() : prestartSync();
    }
    ,false);
  // document.getElementById("merge-video").addEventListener('click', function(){
  //   recordind ? alert("Stop record") : mergeFunc();
  // }
  // ,false);
</script>

<script>
$(function () {
    var pbar = $(".progress-bar"),
        pbarInner = pbar.children(".inner"),
        spinner = $(".spinner .centered-div");
    $('.fileinput-button').fileupload({
        dataType: 'json',
        url: '/file/upload',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        done: function (e, data) {
          //$.each(data.result, function (index, file) {
          //    $('<p/>').text(file.name).appendTo(document.body);
          //});
          //
        },
        progress: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          var _p = progress+"%";
          pbarInner.text(_p).width(_p);
        },
        add: function (e, data) {
          data.formData = {uuid: uuid};
          pbar.fadeIn();
          $('<div class="spinner centered-div"></div>').appendTo('body');
          data.submit();
        },
        always: function (e, data) {
          pbar.fadeOut();
          $(".bar .text").fadeIn();
        }
    });
});
</script>
