%h2.title Additional information
.title-hint If you are not the only author you must give credit

- collegues = @item.contributors
.row
  .label Published with
  .b-collegues
    %ul.b-collegues__list
      - collegues.each do |user|
        = render :partial => 'items/item_collegue', :locals => {:user => user, :item => @item}
  
    = link_to "Add persons", "", :class => 'add-btn', :id => "add-collegues-to-item-link"

