%h2.title
  %a{:name => "set-price", :href => "#set-price"}
  Sell your movie in the orthodentic store
.title-hint Get reward on your quality medical item.

.row
  = f.label :price, "Set price", :class => "label"
  = f.text_field :price, :class => "js-price"
.row
  = label :price, "PayPal account", :class => "label"
  = text_field_tag "paypal_account", @item.user.paypal_account
  .text-hint Please enter a valid PayPal account. Otherwise money for purchasing your item won't be transfered to your account.