- if @processed
  = render :partial =>  (@a_video and !@a_video.file_processing?) ?  "items/form/preview_record_presenter_video": "items/form/preview_video_upload"

  .tools
    = form_for @item, :remote => true do |f|
      = f.submit "", :class => 'btn publish', :name => 'publish'
