.b-upload-item__title
  %b Make your conference

.b-upload-item__uload-regular
  #regular-upcontainer
    .select-file Select File
    .row
      = link_to '', '#', :id => 'regular-pickfiles', :class => 'btn upload'

      .btn-hint
        It can be presentations,
        %br
        movies and articles.
    .row
      .fl-l#filelist
- url = @item ? upload_attachment_items_path(:item_id => @item.id) : upload_attachment_items_path
:javascript
  $(function(){
    var uploaderAttachment = $.initPlupload({
        url: "#{url}",
        filters: [],
        max_file_size: "1000mb",
        browse_button: "regular-pickfiles",
        container: "regular-upcontainer",
        post_data: {
          post_data: {attachment_type: "presenter_video"}
        }
    });
  })