%h2.title.strong Regular (Presentations, Movies, Articles)
.b-select-file#regular-upcontainer
  .b-select-file__label Select File      
  = link_to '', '#', :id => 'regular-pickfiles', :class => 'b-select-file__btn btn upload'
  .b-select-file__hint
    It can be presentations,
    %br
    movies and articles.    
  .b-select-file__list.fl-l#filelist

:javascript
  $(function(){
    var uploaderAttachment = $.initPlupload({
        url: "#{upload_attachment_items_path(:item_id => @item.id)}",          
        max_file_size: "1000mb",
        browse_button: "regular-pickfiles",
        container: "regular-upcontainer",
        post_data: {attachment_type: "regular"}
    });
  })