.b-colleagues-container
  - if users.present?
    - users.each do |user|
      = link_to user_path(user), :class => "b-colleagues-item", :remote => :true do
        = image_tag user.avatar_url(:thumb_60), :class => 'popup-user-info', :id => "popup-user-#{user.id}"
        .title= text_with_br(user.full_name)
  - else
    .no-items No items

  .clear
