.b-settings-nav
  - if current_user.role? "doctor"
    = link_to '#', :class => 'b-settings-nav-bio selected' do
      Medical
      %span Your medical information
  = link_to '#', :class => 'b-settings-nav-notification' do
    Notification
    %span Email preferences...