= form_for(Message.new, :url => user_send_message_url(user), :remote => :true) do |f|
  = imperavi :message_body, {:lang => 'en', :toolbar => 'mini'}
  %p= f.text_area :body, :placeholder => 'New message', :style => "width: 100%; height: 150px;"
  %p= f.submit "Send", :class => 'light-button send green'