$("#ajax-main-container").html("#{escape_javascript(render :partial => 'edit')}");
$(".l-settings-navigation").html("#{escape_javascript(render :partial => 'navigation')}");
$("#user-avatar-uploader").attr("size","7");
$("#datepicker").datepicker({changeMonth: true,changeYear: true,yearRange: "-99:+0",maxDate: 0});

$(".main-content .navigation a").removeClass("selected");
$(".tab-settings").addClass("selected");

