var fbutton = $(".follow-user-#{@following_user.id}");
if (fbutton){
fbutton.text("Unfollow").append("<span/>");
fbutton.data("method", "delete").attr("href", "#{user_unfollow_path(@following_user)}");
}