- case @type
  - when "profile"
    = render :partial => 'profile', :locals => {:user => @user, :collaborators => @collaborators}
  - else
    = render :partial => 'show', :locals => {:user => @user, :collaborators => @collaborators}
    = imperavi :message_body, {:lang => 'en', :toolbar => 'mini'}
