- case @type
  - when "popup"
    $("body").append("#{escape_javascript(render :partial => 'popup', :locals => {:user => @user, :collaborators => @collaborators})}");

  - when "public"
    $("#ajax-main-container").html("#{escape_javascript(render :partial => 'show', :locals => {:user => @user, :collaborators => @collaborators})}");
    $(".main-content .navigation a").removeClass("selected");
    - if @user == current_user
      $(".tab-public").addClass("selected");
    - else
      $(".tab-collegues").addClass("selected");

  - else
    $(".main-content .navigation a").removeClass("selected");
    - if @user == current_user
      $(".tab-profile").addClass("selected");
      $("#ajax-main-container").html("#{escape_javascript(render :partial => 'profile', :locals => {:user => @user, :collaborators => @collaborators})}");
      $("#datepicker").datepicker({changeMonth: true,changeYear: true,yearRange: "-99:+0",maxDate: 0});
    - else
      $(".tab-collegues").addClass("selected");
      $("#ajax-main-container").html("#{escape_javascript(render :partial => 'show', :locals => {:user => @user, :collaborators => @collaborators})}");
