- case @type
  - when "public"
    = render :partial => 'show', :locals => {:user => @user, :collaborators => @collaborators}
    = imperavi :message_body, {:lang => 'en', :toolbar => 'mini'}

  - else
    = render :partial => 'profile', :locals => {:user => @user, :collaborators => @collaborators}
    