- if @popup
  $(".popup-user-#{@user.id}").html("#{escape_javascript(render :partial => 'popup', :locals => {:user => @user})}");  
- else
  $("#ajax-main-container").html("#{escape_javascript(render :partial => 'show', :locals => {:user => @user})}");

  $(".main-content .navigation a").removeClass("selected");
  - if @user != current_user
    $(".tab-public").addClass("selected");
  - else
    $(".tab-profile").addClass("selected");
    