- if @type == "public" || @user != current_user
  = render :partial => 'show', :locals => {:user => @user, :collaborators => @collaborators}
  = imperavi "message_body_#{@user.id}", {:lang => 'en', :toolbar => 'mini'}
- else
  = render :partial => 'profile', :locals => {:user => @user, :collaborators => @collaborators}

