-if @render_items
  - @tmp_folder ||= @render_items == "basic" ? "items" : "account"
  - p @tmp_folder
  $("#ajax-main-container .list-content").html('#{escape_javascript(render :partial => "#{@tmp_folder}/#{@render_items}_list", :locals => {:items => @items} )}');
-else
  $("#ajax-main-container").html("#{escape_javascript(render :partial => 'iteresting_items')}");
  $(".main-content .navigation a").removeClass("selected");
  $(".tab-home").addClass("selected");

if (jQuery.placeholder) jQuery.placeholder.shim();