$("body").append("<div id='dialog-with-static-content'>Our Orthodontic </div>");
$("#dialog-with-static-content:ui-dialog").dialog ("destroy");
$("#dialog-with-static-content").dialog({resizable: false, width: 700, modal: true});