%h2= "Dear, #{@item.user.full_name}!"

%p
  Attached file
  %i= @file_name
  for
  %i
    -if @item.attachments.last.attachment_type == "presenter_merged_video"
      =link_to @item.title, item_url(@item)
    -else
      =link_to @item.title, item_url(@item)
  has been processed.

%p
  %i Email created and sended #{DateTime.now.strftime("%d %B %Y %H:%M:%S")}