%h2= "Dear, #{@attachment.user.full_name}!"

%p
  Attachment file
  %i= @file_name
  for
  %i
    =link_to @item.title, edit_item_path(@item, :step=>"preview")
  has been processed.

%p
  %i Email created and sended #{DateTime.now.strftime("%d %B %Y %H:%M:%S")}