- if items.present? and not items.blank?
  - items.each do |item|
    .item
      .media= link_to image_tag('/assets/tmp/p2.png', :class => 'popup-item-info', :id => "popup-item-#{item.id}"), item_path(item), :class => " pjax"
      = link_to  item.description.truncate(200, :separator => " "), item_path(item), :class => "text pjax"
  .clear
  = paginate items

- else
  .no-items No items

.clear