- if @notice[:type] != "error"
  item = $("#add-collegues-to-item #user-#{@user.id}")
  item.children("a").text("added")
  item.fadeOut("slow")

  $(".b-collegues__list").append("#{ escape_javascript( render :partial => 'items/item_collegue', :locals => {:user => @user, :item => @item}) }" )
showHideNotice("#{@notice[:type]}", "#{@notice[:message]}")