- step =  @notice[:type] == "error" ? "description" : "additional"

$("#ajax-main-container").html("#{escape_javascript(render :partial => 'form', :locals => {:step => step})}");

showHideNotice("#{@notice[:type]}", "#{@notice[:message]}");
$(".main-content .navigation a").removeClass("selected");
$(".tab-item").addClass("selected");

$('form[data-validate]').validate();