- if @notice[:type] != "error"
  var fbutton = $(".follow-item-#{@item.id}");
  if (fbutton){
  fbutton.text("Unfollow item").append("<span/>");
  fbutton.data("method", "delete").attr("href", "#{item_unfollow_path(@item)}");
  }
- else
  showHideNotice("#{@notice[:type]}", "#{@notice[:message]}");