- if @popup
  $("body").append("#{escape_javascript(render :partial => 'popup', :locals => {:item => @item})}");
- else
  $("#ajax-main-container").html("#{escape_javascript(render :partial => 'show', :locals => {:item => @item})}");

  $(".main-content .navigation a").removeClass("selected");
  $(".tab-item").addClass("selected");