var fbutton = $(".follow-item-#{@following_item.id}");
if (fbutton){
fbutton.text("Follow Item").append("<span/>");
fbutton.data("method", "post").attr("href", "#{item_follow_path(@following_item)}");
}