$("#ajax-main-container").html("#{escape_javascript(render :partial => 'form', :locals => {:step => @step})}");

$(".main-content .navigation a").removeClass("selected");
$(".tab-item").addClass("selected");

$('form[data-validate]').validate();

- if @notice.present?
  showHideNotice("#{@notice[:type]}", "#{@notice[:message]}");
