- if @doctors
  $("#add-collegues-to-item .users-wrapper").html("#{ escape_javascript( render :partial => 'items/doctors_list', :locals => {:doctors => @doctors}) }" )
- else
  $("#add-collegues-to-item .users-wrapper").html("")