%h3
  Your Account

.clear

.list
  .list-header
    = render :partial => "navigation"
    .list-content
      = render :partial => "account/account_list", :locals => {:items => items}

:javascript
  $( ".change-price-form:ui-dialog" ).dialog( "destroy" );

  $( ".change-price-form" ).dialog({
    resizable: false,
    autoOpen: false,
    width: 410,
    modal: true,
    buttons: {
      "Change price": function() {
        $( this ).find('form').submit();
        $( this ).dialog( "close" );
      },
      Cancel: function() {
        $( this ).dialog( "close" );
      }
    }
  });
  $( "a.change" ).click(function() {
      var id = $(this).attr("id")
      $( "#form-" + id ).dialog( "open" );
      return false;
    });

  changeNavigationTab(".tab-account");