%h3
  Your Account

.clear

.list
  .list-header
    = render :partial => "navigation"
    .list-content
      = render :partial => "account/account_list", :locals => {:items => items}

:javascript
  $( ".change-price-form:ui-dialog" ).dialog( "destroy" );

  $( ".change-price-form" ).dialog({
    resizable: false,
    autoOpen: false,
    width: 410,
    modal: true,
    buttons: {
      "Change price": function() {
        $( this ).find('form').submit();
        $( this ).dialog( "close" );
      },
      Cancel: function() {
        $( this ).dialog( "close" );
      }
    }
  });
  $( "a.change" ).click(function() {
      var id = $(this).attr("id")
      $( "#form-" + id ).dialog( "open" );
      return false;
    });

  $("#qsearch").autocomplete({
  source: "/search/qsearch-item",
  minLength: 3,
  width: 100,
  select: function(event, ui) {
    return window.location.assign(ui.item.url);
  }
  }).data("autocomplete")._renderItem = function(ul, item) {
    return $("<li></li>").addClass("qsearch-item").data("item.autocomplete", item).append("<a href=\"" + item.url + "\">" + item.title + "</a>").appendTo(ul);
  };
