%h3
  Purchased Item
.clear

.list
  .list-header
    = render :partial => "navigation"
    .list-content
      = render :partial => "items/basic_list", :locals => {:items => @items}

:javascript
  changeNavigationTab(".tab-account");