%h3
  Purchased Item
.clear

.list
  .list-header
    = render :partial => "navigation"
    .list-content
      =# render :partial => "account/account_list", :locals => {:items => items}

:javascript
  changeNavigationTab(".tab-account");