/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize
 *= require main
 *= require btns
 *= require pages
 *= require items
 *= require community
 *= require jquery-ui
 *= require users
 *= require flexpaper
 *= require upload

 *= require jquery.fileupload-ui
 *= require webrecorder
 *= require chosen
 *= require jquery.Jcrop
 *= require colorbox
 *= require mediaelement_rails
 
 *= require dropp
 *= require communities
 * and optionally:
 *= require mediaelement_rails/mejs-skins
*/

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('/assets/websymbols-regular-webfont.eot');
    src: url('/assets/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/websymbols-regular-webfont.woff') format('woff'),
         url('/assets/websymbols-regular-webfont.ttf') format('truetype'),
         url('/assets/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "Droid Sans", "Arial";
  color: #1b1e26;
  background: url('/assets/body-bg.gif') #fff;}

input, textarea {
  font-family: "Droid Sans", Arial;}

* {
  font-family: "Droid Sans", "Arial";
}
