// Place all the styles related to the Community controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.community_elem {

	margin: 10px;
	
	input[type='checkbox'].community_checkbox {
		&+label {
			border-style: solid;
		}
	}
}

/*
div.community_list {
	border: 10px solid blue; 
	border-radius: 10px; 
}*/
/*
div.community_elem {
		width: 200px;
		height: 40px;
}
*/
/*input[type='checkbox'].community_checkbox {
	opacity: 0.5;
	width: 10px;
	&+label {*/
		/* image replacement */
		/*text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;		

		background: url(/assets/communities/implants.png);
		&:hover {
			opacity: 0.5;
		}
		&:active {
			background: url(/assets/communities/orthodontics.png);
		}*/
/*	}
}*/

#community_selector {
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	width: 60%;
	& .ui-selecting { background: #FECA40; }
	& .ui-selected { background: #F39814; color: white; }
	& li { 
		margin: 3px;
		padding: 0.4em;
		font-size: 1.4em; 
		height: 18px;
	}
}

.dropdown-selectbox.multiselect {
	width: 220px;
	border: none;
	label {
		width: 225px;
		height: 35px;
		display: block;
		position: relative;
		left: -8px;
		padding: 0;
		margin: 0 0 -17px 0;
	}
}