.b-items {
  margin: 30px;

  h1 {
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;
    margin: 15px 0 20px; }

  .form {

    .field {
      padding: 5px 0; }

    .actions {
      text-align: center;
      padding: 10px 0;}

    label {
      width: 200px;
      float: left;
      display: block;
      margin-right: 20px;
      text-align: right;
      font-size: 14px;
      line-height: 30px; }

    input {
      font-size: 14px;
      &[type="text"] {
        width: 550px;
        padding: 5px 6px;
        background: none repeat scroll 0 0 #F1EFD1;
        border: 1px solid #F1EFD1;
        -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
        -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
        box-shadow: 0 2px 2px #D8DCC1 inset; }

      &[type="checkbox"] {
        vertical-align: middle;
        margin-top: 8px; }

      &[type="submit"]{
        padding: 5px 15px;
        font-size: 16px;}}

    textarea {
      width: 550px;
      max-width: 550px;
      min-width: 550px;
      font-size: 14px;
      padding: 5px 6px;
      background: none repeat scroll 0 0 #F1EFD1;
      border: 1px solid #F1EFD1;
      -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
      -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
      box-shadow: 0 2px 2px #D8DCC1 inset; }
  }
}

.b-upload {
  padding: 1px 20px 20px;

  .hr {
    border-top: 1px solid #d9d7b8;
    float: left;
    margin: 20px 0px;
    width: 100%;
  }

  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 200px;
    padding: 5px 6px;
    background: none repeat scroll 0 0 #F1EFD1;
    border: 1px solid #F1EFD1;
    -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
    -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
    box-shadow: 0 2px 2px #D8DCC1 inset;
  }

  textarea {
    max-width: 200px;
    min-width: 200px;
  }

  .steps {
    padding: 0px 20px;
  }

  .b-uplod-step-regular {
    float: left;
    width: 400px;
    border-right: 1px solid #d9d7b8;
  }

  .b-uplod-step-make-conference {
    float: right;
    width: 400px;
  }

  .b-upload-title {
    font-size: 18px;
    margin: 10px 0 10px;
    .hint {
      font-size: 12px;
      color: #8d8e92;
    }
  }

  .select-file {
    font-size: 18px;
    color: #1b1e26;
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 15px 0 10px;
  }

  .light-button.upload {
    color: #F2EFBD;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    padding: 3px 6px 3px 10px;
    width: 92px;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;


    span {
      background: url("/assets/search-engine-set.png") no-repeat scroll 0 -33px transparent;
      display: block;
      float: right;
      height: 30px;
      width: 30px;
    }
  }

  .btn-hint {
    float: left;
    font-size: 14px;
    margin-left: 20px;
  }

  .b-uplod-step-describe-movie {
    .preview {
      float: left;
      border: 3px solid #ddd;
    }

    .block {
      float: left;
      width: 600px;
      margin: 0px 20px;
      font-size: 14px;

      label {
        width: 100px;
        float: left;
        margin-right: 10px;
        text-align: right;
        line-height: 30px;
      }

      input[type=text], textarea {
        width: 400px;
        max-width: 400px;
        min-width: 400px;
      }

      .item {
        padding-bottom: 5px;
      }

      .abstract textarea {
        height: 70px;
      }

      .keywords {
        .textarea {
          float: left;
          position: relative;
          textarea {
            width: 415px;
            max-width: 415px;
            min-width: 415px;
            background: transparent;
            border: 1px solid #F1EFD1;
            line-height: 20px;
          }

          .text-wrap {
            border: 1px solid #F1EFD1;
            -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
            -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
            box-shadow: 0 2px 2px #D8DCC1 inset;
            background: #F1EFD1;
          }
        }
        .text-hint {
          margin: 3px 0 3px 110px;
          font-size: 11px;
          color: #555555;
        }

        .text-core .text-wrap .text-tags .text-tag .text-button {
          height: 25px;
          font-size: 13px;
          padding: 0 20px 0 7px;
          line-height: 20px;
          color: #444;
        }

        .text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
          top: 6px;
        }
      }

      .checkbox {
        input[type="checkbox"]{
          vertical-align: middle;
        }

        label {
          line-height: 1.6;
        }
      }
    }
  }

  .b-uplod-step-published-with {
    .collegues {
      overflow: hidden;
      margin-bottom: 20px;
      .user {
        width: 198px;
        float: left;
        padding: 10px 20px 10px 0;
        overflow: hidden;
        img {
          float: left;
          margin-right: 10px;
          border: 1px solid #ddd;
        }

        .delete-btn {
          color: #424242;
          display: block;
          font-size: 10px;
          line-height: 15px;
          text-decoration: none;
          border: 1px solid #eee;
          float: left;
          padding: 0 5px;
          background: #f0f0f0;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          margin-top: 4px;
          width: 45px;

          span {
            background: url("/assets/edit-icon-set.png") no-repeat scroll 0 3px transparent;
            display: block;
            float: right;
            height: 12px;
            margin-left: 5px;
            width: 9px;
          }

          &:hover {
            background: #ddd;
          }
        }
      }
    }
  }

  .b-uplod-step-sell-movie {
    width: 100%;

    .block {
      width: 440px;
      float: left;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      font-size: 12px;
      padding: 1px 0;
      height: 32px;
      display: block;
    }

    .pay-pal-form label {
      width: 110px;
    }

    .pay-pal-auth-form {
      label {
        font-size: 12px;
        display: block;
        width: 60px;
        float: left;
        margin-right: 10px;
        text-align: right;
        line-height: 30px;
      }

      input{
        &[type="text"], &[type="password"], &[type="email"] {
          width: 140px;
        }
      }
    }

    .set-price{
      text-align: center;
    }

    .field {
      width: 260px;
      border: 1px solid #b8b479;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin: 0 0 20px;
      position: relative;
      .title {
        background: #dfeeea;
        padding: 10px;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        font-size: 18px;
        position: relative;
      }

      .body {
        padding: 17px;
        font-size: 14px;

        textarea {
          height: 55px;
          padding: 6px;
          width: 350px;
          max-width: 350px;
          min-width: 350px;
          background: none repeat scroll 0 0 #F1EFD1;
          border: 1px solid #F1EFD1;
          -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
          -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
          box-shadow: 0 2px 2px #D8DCC1 inset;
        }

        .right {
          text-align: right;
          padding: 10px 0px 0;
        }

        .log-in {
          color: #fff;
          -webkit-text-shadow: none;
          -moz-text-shadow: none;
          text-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          padding: 4px 15px;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
        }
      }

      .hint {
        font-size: 12px;
        color: #8d8e92;
        text-align: center;
        padding: 10px 0 0;
      }
    }
  }

  .b-uplod-step-set-preview {
    ul {
      margin: 0px;
      padding: 0;
      list-style: none;
    }

    li {
      padding: 2px 0;
      font-size: 12px;
    }

    input[type="text"] {
      margin-left: 5px;
      width: 72px;
    }

    input[type=radio]{
      position: absolute;
      left: -99999px;
    }

    label {
      cursor: pointer;
      font-size: 12px;
      margin-left: 5px;
      padding: 2px 0 2px 25px;
      background: url("/assets/radio-btn-set.png") no-repeat scroll 0px -17px transparent;
      &.checked{
        background-position: 0px 2px;
      }
    }

    p {
      font-size: 12px;
      padding: 0px 7px;
    }
  }

  .b-uplod-step-copyright {
    input[type="checkbox"]{
      float: left;
      margin: 2px 5px;
    }

    label {
      display: block;
      margin-left: 28px;
      font-size: 12px;
      width: 500px;
    }
  }

  .tools {
    height: 100px;
    text-align: center;
    padding-top: 20px;
    .publish {
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      padding: 11px 55px;
      font-weight: bold;
      color: #f2efbd;
      text-shadow: 0 -1px 0 #29383b;
      font-size: 20px;
    }
  }
}

.pay-pal-form, .form {
  select {
    margin-top: 2px;
  }

  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 200px;
    padding: 5px 6px;
    background: none repeat scroll 0 0 #F1EFD1;
    border: 1px solid #F1EFD1;
    -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
    -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
    box-shadow: 0 2px 2px #D8DCC1 inset;
  }

  p {
    margin: 5px 0;
  }

  .exp {
    .d, .m {width: 16px;}
    .css {width: 22px;}
    span {
      margin: 0 5px 0 10px;
    }
    a {
      font-size: 11px;
      color: #76787d;
      margin-left: 10px;
    }
  }

  .zip input {
    width: 73px;
  }

  label {
    font-size: 12px;
    display: block;
    width: 150px;
    float: left;
    margin-right: 10px;
    text-align: right;
    line-height: 30px;
  }

  .pay-pal {
    border: medium none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin-left: 120px;
    width: 205px;
    padding: 8px 12px;
  }
}

#add-collegues-to-item {
  overflow: hidden;
  ul {
    padding: 0;
    margin: 0;}

  li {
    display: block;
    float: left;
    font-size: 14px;
    height: 70px;
    list-style: none outside none;
    overflow: hidden;
    padding: 5px 0;
    width: 185px;
    .add-btn{
      color: #424242;
      display: block;
      font-size: 10px;
      line-height: 15px;
      text-decoration: none;
      border: 1px solid #eee;
      float: left;
      padding: 0 5px;
      background: #f0f0f0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-top: 4px;
      width: 45px;
    }
  }

  form {
    margin: 10px 0 20px;
  }

  input[type="text"]{
    width: 290px;
  }
  .users-wrapper{
    overflow-y: auto;
    height: 278px;
  }

  img {
    float: left;
    border: 1px solid #ddd;
    margin-right: 10px;
  }
}