div.change-price-dialog {
  img.set-price-logo {
    float: left;
    width: 40px;
  }
  form {
    float: right;
    label {
      width: 50px;
    }
    p {
      }
  }
}

.b-items {
  margin: 30px;

  h1 {
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;
    margin: 15px 0 20px; }

  .form {

    .field {
      padding: 5px 0; }

    .actions {
      text-align: center;
      padding: 10px 0;}

    label {
      width: 200px;
      float: left;
      display: block;
      margin-right: 20px;
      text-align: right;
      font-size: 14px;
      line-height: 30px; }

    input {
      font-size: 14px;
      &[type="text"] {
        width: 550px;
        padding: 5px 6px;
        background: none repeat scroll 0 0 #F1EFD1;
        border: 1px solid #F1EFD1;
        -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
        -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
        box-shadow: 0 2px 2px #D8DCC1 inset; }

      &[type="checkbox"] {
        vertical-align: middle;
        margin-top: 8px; }

      &[type="submit"]{
        padding: 5px 15px;
        font-size: 16px;}}

    textarea {
      width: 550px;
      max-width: 550px;
      min-width: 550px;
      font-size: 14px;
      padding: 5px 6px;
      background: none repeat scroll 0 0 #F1EFD1;
      border: 1px solid #F1EFD1;
      -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
      -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
      box-shadow: 0 2px 2px #D8DCC1 inset; }
  }
}

.pay-pal-form, .form {
  .full-width select {
    width: 214px;
  }

  select {
    margin-top: 2px;
    margin-bottom: 5px;
  }

  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 200px;
    padding: 5px 6px;
    background: none repeat scroll 0 0 #F1EFD1;
    border: 1px solid #F1EFD1;
    -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
    -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
    box-shadow: 0 2px 2px #D8DCC1 inset;
  }

  p {
    margin: 5px 0;
  }

  .help {
    padding: 10px;
    font-size: 10px; }

  .csv {
    input {
      width: 35px;
      text-align: center;
    }
    a {
      font-size: 11px;
      color: #76787d;
      margin-left: 10px;
    }
  }

  .exp {
    .field_with_errors {
      display: inline-block;
    }
    .d, .m {width: 16px;}

    span {
      margin: 0 5px 0 10px;
    }

  }

  .zip input {
    width: 73px;
  }

  label {
    font-size: 12px;
    display: block;
    width: 140px;
    float: left;
    margin-right: 10px;
    text-align: right;
    line-height: 30px;
  }

  .type {
    overflow: hidden;
    .type-container {
      width: 216px;
      overflow: hidden;
      float: left;
    }

    input[type="radio"]{
      left: -9999px;
      position: absolute;
    }

    label.lb {
      background: url("/assets/pay-pal-icons.png") no-repeat scroll 0 0 transparent;
      display: block;
      float: left;
      height: 30px;
      line-height: 8;
      margin: 0;
      width: 48px;
      overflow: hidden;
      margin: 3px 5px 3px 0;
      opacity: 0.5;
      cursor: pointer;

      &.visa {
        background-position: -1px 0px; }

      &.mc {
        background-position: -54px 0px; }

      &.dc {
        background-position: -107px 0px; }

      &.ae {
        background-position: -161px 0px; }

      &.selected {
        opacity: 1;
      }
    }
  }

  .pay-pal {
    border: medium none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin-left: 120px;
    width: 205px;
    padding: 8px 12px;
  }

  .error_container {
    position: absolute;
    width: 1px;
  }
  input.error{
   border: 1px solid red !important;
  }

  em.error{
    position: absolute;
    font-size: 11px;
    text-align: center;
    line-height: 28px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    border-radius: 5px;
    margin-left: 3px;
    padding: 0 10px;
    white-space: nowrap;
    display: inline;
    font-style: normal;
 }

}

#add-collegues-to-item {
  overflow: hidden;
  ul {
    padding: 0;
    margin: 0;}

  li {
    display: block;
    float: left;
    font-size: 14px;
    height: 70px;
    list-style: none outside none;
    overflow: hidden;
    padding: 5px 0;
    width: 185px;
    .add-btn{
      color: #424242;
      display: block;
      font-size: 10px;
      line-height: 15px;
      text-decoration: none;
      border: 1px solid #eee;
      float: left;
      padding: 0 5px;
      background: #f0f0f0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-top: 4px;
      width: 45px;
    }
  }

  form {
    margin: 10px 0 20px;
  }

  input[type="text"]{
    width: 297px;
  }
  .users-wrapper{
    overflow-y: auto;
    height: 258px;
  }

  img {
    float: left;
    border: 1px solid #ddd;
    margin-right: 10px;
  }
}

.b-buy-item-window {
  overflow: hidden;

  .left-side {
    float: left;
    width: 380px;
    border-right: 1px solid #ddd;
    height: 420px;
    position: relative;
  }

  .right-side {
    float: right;
    padding: 10px 20px;
    width: 250px
  }

  .b-buy-item-window-spinner {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 350px;
    width: 380px;
    background: url(/assets/ajax-loader.gif) center center no-repeat rgba(255,255,255,0.7)
  }
}

#popup-change-password .form label { width: 145px; }
#popup-change-password .form .errors-container.error, #popup-forgot-password .form .errors-container.error { width: auto; }

#popup-forgot-password .form label { width: 40px; }

.b-public-with {
  display: inline-block;

  .b-public-with__container {
    white-space: nowrap;
  }

  .b-public-with__list {
    margin: 0 0 10px;
    padding: 0;
  }

  .b-public-with__item {
    list-style: none;
    overflow: hidden;
    display: inline-block;
    width: 140px;
    margin-right: 10px;

    a {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      border: 2px solid #ebebeb;
      display: block;
    }

    .title {
      font-size: 12px;
      padding: 0 10px 0 10px;
      text-decoration: none;
      color: #1B1E26;
    }
  }
}