.b-auth {
  position: relative;
  background: url("/assets/auth-bg.gif") no-repeat scroll 0 110px transparent;
  padding-top: 20px;
  height: 460px;
  
  .buttons{
    position: absolute;
    right: 28px;
    top: 51px;
    height: 110px;
    a {
      text-decoration: none;
      display: block;
      float: left;
      background: url("/assets/auth-btn-set.png") -174px 1px;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      padding-top: 8px;
      height: 53px;
      width: 158px;        
      color: #fff;     
      -webkit-text-shadow: 1px 1px 0 #677e0b;
      -moz-text-shadow: 1px 1px 0 #677e0b;
      text-shadow: 1px 1px 0 #677e0b;
      span {
        -webkit-text-shadow: 1px 1px 0 #1b1e26;
        -moz-text-shadow: 1px 1px 0 #1b1e26;
        text-shadow: 1px 1px 0 #1b1e26;
        font-size: 12px;
        display: block;
        color: #f2efbd;
      }
      
      &.selected {
        padding-top: 16px;
        height: 89px;
        width: 158px;
        color: #1b1e26;
        -webkit-text-shadow: 1px 1px 0 #e0ff69;
        -moz-text-shadow: 1px 1px 0 #e0ff69;
        text-shadow: 1px 1px 0 #e0ff69;
        background-position: 0 0;
        span{
          text-shadow: 1px 1px 0 #677e0b;
          -moz-text-shadow: 1px 1px 0 #677e0b;
          -webkit-text-shadow: 1px 1px 0 #677e0b;
        }
      }
    }
  }
  
  .container {
    .content {
      margin: 64px 0px 0 60px;
      float: left;
      width: 480px;
      overflow: hidden;
      padding-bottom: 27px;
      background: url('/assets/auth-shdw.png') no-repeat bottom;
      .text {
        margin-bottom: 25px;
        color: #fff;
        font-size: 20px;
        -webkit-text-shadow: 1px 1px 0 #040a0f;
        -moz-text-shadow: 1px 1px 0 #040a0f;
        text-shadow: 1px 1px 0 #040a0f;
        text-align: center;
      }
    }
    .media {
      border: 1px solid #fff;
      padding: 10px;
      text-align: center;
      img {
        display: block;
        border: none;
      }
    }
    
    .sign-tab {
      width: 230px;
      float: right;
      margin: 60px 103px 0 0;
      &.sign-up-tab .inputs {
        height: 256px;
        padding-top: 1px;
      }
      
      &.sign-in-tab .inputs {
        height: 207px;
        padding-top: 50px;
      }
      .toggler {
        padding: 5px 0px 10px;
        input {
          position: absolute;
          left: -99999px;
        }
        label {
          cursor: pointer;
          font-size: 14px;
          margin-left: 5px;
          padding: 2px 0 2px 25px;
          background: url("/assets/auth-btn-set.png") no-repeat scroll -339px -22px transparent;
          color: #ffffff;
          &.checked{
            background-position: -339px 1px;
          }
        }
        b {
          font-size: 16px;
          color: #f2efbd;
        }
      }
      p {
        margin: 5px 0px;
      }
    }
    
    
    .submit-btn {
      background: url('/assets/sign-btn.png') center center no-repeat;
      
      padding: 3px 0 8px;
      font-weight: bold;
      font-size: 29px;
      line-height: 30x;
      color: #1b1e26;
      -webkit-text-shadow: 1px 1px 0 #e0ff69;
      -moz-text-shadow: 1px 1px 0 #e0ff69;
      text-shadow: 1px 1px 0 #e0ff69;
      text-align: center;
      margin: 7px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      text-decoration: none;
      display: block;
      span {
        font-size: 14px;
        line-height: 0.5;
        font-weight: normal;
        display: block;
      }
    }
  }
  
  input {
    &[type="text"], &[type="email"], &[type="password"]{
      border: 1px solid #d4dee0;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      padding: 8px;
      width: 210px;
      font-size: 14px;
      -webkit-box-shadow: 0 -2px 1px #837A81;
      -moz-box-shadow: 0 -2px 1px #837A81;
      box-shadow: 0 -2px 1px #837A81;
    }
  }
}


.b-search-engine {
  background: url('/assets/search-engine-bg.png') no-repeat 0 0px;
  margin-top: 35px;
  padding-top: 1px;
  height: 155px;
  position: relative;
  .logo {
    margin: 25px 0 0 32px;
    float: left;
  }
  .search {
    float: right;
    margin: 22px 16px 0 0;
    .text-input {
      padding: 15px 15px 14px;
      margin-right: 4px;
      width: 318px;
    }
    .dark-button{
      font-size: 16px;
      padding: 11px;
      width: 128px;
    }
  }
  .btn {
    position: absolute;
    span {
      display: block;
      float: right;
      width: 30px;
      height: 30px;
      background: url('/assets/search-engine-set.png') no-repeat 0 0px;
    }
    
    &.upload{
      color: #F2EFBD;
      display: block;
      font-size: 16px;
      font-weight: bold;
      height: 31px;
      left: 323px;
      line-height: 30px;
      padding: 10px 12px 11px 24px;
      text-decoration: none;
      top: 86px;
      width: 91px;
      -webkit-text-shadow: 0 -1px 0 #273639;
      -moz-text-shadow: 0 -1px 0 #273639;
      text-shadow: 0 -1px 0 #273639;
      background: url('/assets/search-engine-upload-btn.png') no-repeat 0 0px;
      span {
        background-position: 0px -33px;
      }
    }
    
    &.explore {
      display: block;
      height: 31px;
      left: 467px;
      line-height: 30px;
      padding: 7px 5px 7px 21px;
      top: 81px;
      width: 95px;
      span {
        background-position: 0px 1px;
      }
    }
  }
}

.b-explore-popup {
  background: url('/assets/search-engine-shdw.png') no-repeat center bottom;
  position: absolute;
  right: 27px;
  top: 98px;
  width: 330px;
  padding-bottom: 5px;
  z-index: 1000;
  
  .container {
    background: #E0DDB1;
    border: 1px solid #C3C093;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 5px 7px;
  }
  
  .content {
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 15px 20px;
    .title {
      font-size: 12px;
      margin-bottom: 15px;
    }
  }
  
  .column {
    width: 115px;
    float: left;
    padding-bottom: 5px;
  }
  
  .with-border {
    border-right: 1px dashed #70a99a;
    margin-right: 40px;
  }
  
  h3 {
    color: #2f6d7a;
    font-size: 14px;
  margin: 0px;}
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: 12px;
    padding: 5px 0px;
  }
}

.main-content {
  border: 1px solid #b8b479;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #fff;
  position: relative;
  overflow: hidden;
  
  .user-info {
    width: 650px;
    padding: 18px 0 18px 16px;
    float: left;
    width: 650px;
    span {
      font-size: 26px;
      line-height: 70px;
      margin: 0 0 0 25px;
    }
    img {
      vertical-align: top;
      border: 1px solid #DDD;
    }
  }
  
  .light-button.sale {
    float: right;
    display: block;
    line-height: 14px;
    margin: 28px 15px 0 0;
    padding: 12px 40px 12px 20px;
  }
  
  .light-button.send-message {
    float: right;
    margin: 13px 10px 0 0;
    padding: 6px 5px 6px 15px;
    position: absolute;
    right: 0px;
    top: -22px;
    width: 230px;
    line-height: 22px;
    font-size: 16px;
  }
  
  .navigation {
    height: 34px;
    padding-left: 6px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      display: inline;
    }
    
    a {
      text-decoration: none;
      display: block;
      float: left;
      width: 120px;
      height: 35px;
      background: url('/assets/main-content-nav-set.png') no-repeat 0 0;
      font-size: 16px;
      color: #fff;
      font-weight: bold;
      -webkit-text-shadow: 1px 1px 0 #677e0b;
      -moz-text-shadow: 1px 1px 0 #677e0b;
      text-shadow: 1px 1px 0 #677e0b;
      text-align: center;
      line-height: 35px;
      z-index: 500;
      
      span {
        font-size: 12px;
        font-weight: normal;
        line-height: 0;
        display: none;
      }
      
      &.selected {
        height: 80px;
        background-position: 0 -56px;
        color: #1b1e26;
        -webkit-text-shadow: 1px 1px 0 #dcfb64;
        -moz-text-shadow: 1px 1px 0 #dcfb64;
        text-shadow: 1px 1px 0 #dcfb64;
        span {
          display: block;
        }
      }
      
      &.large {
        width: 146px;
        background-position: -122px 0;
        &.selected {
          background-position: -122px -56px;
        }
      }
    }
  }
  
  .panel {
    border-top: 1px solid #b8b479;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: url('/assets/main-content-bg.jpg') repeat-x 0 0;
    width: 959px;
    padding-top: 30px;
    &.no-padding {
      padding-top: 0px;
    }
  }
  
  .content {
    padding: 20px 20px 0;
    
    h1 {
      font-weight: normal;
      font-size: 26px;
      line-height: 50px;
      margin: 0px;
    }
    .share {
      float: right;
      padding-top: 10px;
      a {
        float: left;
        margin-left: 10px;
        width: 27px;
        height: 27px;
        text-decoartion: none;
        background: url('/assets/shared-icons27.png') repeat-x 0 0;
        display: block;
      }
      .tw {
        background-position: -27px 0;
      }
    }
    
    .tools {
      border-top: 1px solid #d4d2af;
      border-bottom: 1px solid #d4d2af;
      padding: 15px 0px;
      height: 65px;
      
      .items {
        float: left;
        height: 65px;
        overflow: hidden;
      }
      
      ul {
        margin: 0;
        padding: 0;
        list-stile: none;
      }
      
      li {
        float: left;
        display: block;
      }
      
      img {
        float: left;
        border: 2px solid #ebebeb;
      }
      
      .light-button.follow {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        float: right;
        font-weight: normal;
        font-size: 13px;
        padding: 10px 5px 10px 11px;
        margin-top: 13px;
        width: 113px;
        span {
          background: url("/assets/btn-icons-set.png") no-repeat scroll 0 -2px transparent;
          display: block;
          float: right;
          height: 18px;
          margin-left: 7px;
          width: 18px;
        }
      }
      
      .light-button.sell {
        width: 200px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        float: right;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        padding: 6px 5px 6px 15px;
        margin: 13px 10px 0 0px;
        color: #ffffff;
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        text-shadow: none;
        border: 1px solid #90b30b;
        background: #c0e046; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MwZTA0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NjkxMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #c0e046 0%, #76910a 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0e046), color-stop(100%,#76910a)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c0e046 0%,#76910a 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c0e046 0%,#76910a 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c0e046 0%,#76910a 100%); /* IE10+ */
        background: linear-gradient(top, #c0e046 0%,#76910a 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0e046', endColorstr='#76910a',GradientType=0 ); /* IE6-8 */
        input {
          font-size: 16px;
          padding: 4px;
          border: none;
          margin-left: 10px;
          width: 60px;
        }
        span {
          background: url("/assets/btn-icons-set.png") no-repeat scroll -67px 0 transparent;
          display: block;
          float: right;
          height: 26px;
          margin-left: 15px;
          width: 23px;
        }
      }
      
      .light-button.buy {
        float: right;
        padding: 6px 5px 6px 15px;
        margin: 13px 10px 0 0px;
        width: 124px;
        span {
          background: url("/assets/btn-icons-set.png") no-repeat scroll -98px 0 transparent;
          display: block;
          float: right;
          height: 22px;
          margin: 2px 0 0 15px;
          width: 28px;
        }
      }
      
      .light-button.set-preview {
        float: right;
        padding: 6px 5px 6px 15px;
        margin: 13px 10px 0 0px;
        color: #ffffff;
        width: 150px;
        border: 1px solid #5c867b;
        
        span {
          background: url("/assets/btn-icons-set.png") no-repeat scroll -129px 0 transparent;
          display: block;
          float: right;
          height: 24px;
          margin: 1px 0 0 15px;
          width: 33px;
        }
      }
      
      &.detail {
        .items {
          width: 790px;
        }
        
        .title {
          float: left;
          font-size: 12px;
          padding: 15px 20px 15px 10px;
        }
      }
      
      &.short {
        li {
          padding-right: 10px;
        }
        img {
          float: left;
          border: 2px solid #ebebeb;
        }
      }
    }
    
    .text {
      border-bottom: 1px solid #d4d2af;
      padding: 20px 0;
      
      h2 {
        color: #2e6976;
        margin: 7px 0;
        font-size: 20px;
      }
      
      .body {
        font-size: 12px;
        line-height: 17px;
        float: left;
        margin: 7px 20px 7px 0px;
        text-align: justify;
      }
      
      .preview {
        float: left;
      }
      
      
      &.pic {
        .body {
          margin: 7px 20px 7px 0px;
          width: 665px;
        }
        
        .preview {
          border: 2px solid #ddd;
        }
      }
      
      &.video {
        .preview {
          width: 435px;
        }
        .body {
          margin: 7px 0px 7px 20px;
          width: 459px;
        }
      }
    }
  
  }

  .b-comments {
    h3 {
      margin: 15px 0 10px 20px;
      font-weight: normal;
      font-size: 18px;
    }

    .b-comments-panel {
      background: #dfeeea;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      padding: 5px 15px 20px;
    }
    
    .b-comments-form {
      textarea {
        width: 617px;
        max-width: 617px;
        min-width: 617px;
        font-size: 14px;
        padding: 5px 6px;
        background: none repeat scroll 0 0 #F1EFD1;
        border: 1px solid #FFF;
        -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
        -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
        box-shadow: 0 2px 2px #D8DCC1 inset; } 

      input[type=submit] {
        margin-left: 572px;
      }
    }

    ul {
      width: 630px;
      margin: 0px;
      list-style: none;
      padding: 0px;
    }
    
    li {
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      display: block;
      background: #fff;
      margin-top: 15px;
      padding: 20px 15px;
      position: relative
    }
    
    img {
      border: 1px solid #ddd;
      display: block;
      float: left;
    }
    
    .body {
      margin-left: 78px;
      overflow: hidden;
      word-wrap: break-word;
    }
    
    b, span  {
      display: block;
      font-size: 16px;
      padding: 2px 0 8px;
      color: #777;
    }
  }
  
  .like-container {
    position: absolute;
    top: 8px;
    right: 8px;
    
    a {
      text-decoration: none;
      width: 25px;
      height: 25px;
      padding: 0;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      line-height: 25px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: block;
      float: right;
    }

    .votes{
      font-size: 12px;
      color: #aaa;
      float: left;
      line-height: 25px;
      margin-right: 10px;
      }
  }  
  
  .new-comment {
    float: right;
    display: block;
    font-size: 12px;
    font-weight: normal;
    width: 132px;
    position: relative;
    padding: 13px 18px;
    margin-top: 15px;
    
    span {
      background: url("/assets/btn-icons-set.png") no-repeat scroll -27px 0px transparent;
      display: block;
      float: right;
      height: 18px;
      width: 33px;
      position: absolute;
      top: 16px;
      right: 12px;
    }
  }
  
  h3 {
    margin-left: 18px;
    margin-top: 16px;
    position: relative;
  }
  
  .light-button.buy-all {
    float: right;
    padding: 6px 5px 6px 15px;
    margin: 13px 10px 0 0px;
    position: absolute;
    right: 10px;
    top: -38px;
    width: 150px;
    span {
      background: url("/assets/btn-icons-set.png") no-repeat scroll -98px 0 transparent;
      display: block;
      float: right;
      height: 22px;
      margin: 2px 0 0 15px;
      width: 28px;
    }
  }
  
  .list {
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
}

.b-purchased-item {
  background: #ffffff;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-top: -5px;
  z-index: 20;
  position: relative;
  padding: 50px 20px 15px;
  
  .item {
    width: 230px;
    height: 230px;
    border: 1px solid #b8b479;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    float: left;
  }
  
  .title {
    background: #dfeeea;
    padding: 10px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
  }
  
  .body {
    padding: 10px;
    font-size: 14px;
  }
  
  .light-button {
    border: 1px solid #639e9f;
    font-size: 14px;
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  .edit, .upload {
    position: absolute;
    bottom: 10px;
    padding: 5px 15px;
    line-height: 1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  
  .edit {
    right: 10px;
  }
  
  .upload {
    display: block;
    float: left;
    left: 10px;
    width: 152px;
    padding-left: 5px;
    font-size: 16px;
    line-height: 1.2;
    span {
      background: url('/assets/upload-btn-white.png') no-repeat center center;
      display: block;
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 7px;
    }
  }
  
  ul {
    padding: 0px;
    margin: 10px 0;
  }
  
  li {
    list-style: none;
    padding: 5px 10px 4px;
    span {color: #2f6d7a;}
  }
  
  .odd {
    background: #dfeeea;
  }
  
  .summ {
    font-size: 20px;
    color: #2f6d7a;
    font-weight: bold;
    padding: 30px 10px 10px;
  }
}

.b-sign-in {
  background: url("/assets/sign-in-bg.png") repeat-x bottom center;
  .b-general-links .container {
    border-bottom: 1px solid #24515b;
  }
  
  .b-sign-in-container {
    background: url("/assets/sign-in-bg-grad.png") no-repeat center;
    height: 380px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 6px 8px #999;
    -moz-box-shadow: 0 6px 8px #999;
    box-shadow: 0 6px 8px #999;
    padding: 1px 0;
  }
  
  .b-sign-in-logo {
    width: 281px;
    height: 74px;
    background: url("/assets/logo-white.png") no-repeat center transparent;
    display: block;
    margin: 38px auto;
  }
  
  .b-sign-in-form {
    width: 230px;
    margin: 0px auto;
  }
  
  p {
  margin: 7px 0px;}
  
  .submit-btn {
    background: #d0e95b; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZTk1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2FjY2QyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MmI0MGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #d0e95b 0%, #accd2d 42%, #92b40d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e95b), color-stop(42%,#accd2d), color-stop(100%,#92b40d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d0e95b 0%,#accd2d 42%,#92b40d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d0e95b 0%,#accd2d 42%,#92b40d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d0e95b 0%,#accd2d 42%,#92b40d 100%); /* IE10+ */
    background: linear-gradient(top, #d0e95b 0%,#accd2d 42%,#92b40d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e95b', endColorstr='#92b40d',GradientType=0 ); /* IE6-8 */
    
    padding: 3px 0 8px;
    font-weight: bold;
    font-size: 29px;
    line-height: 30px;
    color: #1b1e26;
    -webkit-text-shadow: 1px 1px 0 #e0ff69;
    -moz-text-shadow: 1px 1px 0 #e0ff69;
    text-shadow: 1px 1px 0 #e0ff69;
    -webkit-box-shadow: 0 0 3px #a1bc38 inset;
    -moz-box-shadow: 0 0 3px #a1bc38 inset;
    box-shadow: 0 0 3px #a1bc38 inset;
    text-align: center;
    margin: 17px 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    width: 220px;
    span {
      font-size: 14px;
      line-height: 0.5;
      font-weight: normal;
      display: block;
    }
  }
  
  input {
    &[type="text"], &[type="email"], &[type="password"]{
      border: 1px solid #d4dee0;
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      padding: 7px 10px;
      width: 205px;
      font-size: 14px;
      -webkit-box-shadow: 0 -1px 1px #537a81, 0 0 1px #aaa inset;
      -moz-box-shadow: 0 -1px 1px #537a81, 0 0 1px #aaa inset;
      box-shadow: 0 -1px 1px #537a81, 0 0 1px #aaa inset;
    }
  }
}

.b-admin-header {
  height: 120px;
  .b-admin-header-logo {    
    width: 281px;
    height: 74px;
    background: url("/assets/logo.png") no-repeat center transparent;
    display: block;
    margin: 20px 0;
    float: left;    
  }
  
  .b-admin-header-title {
    color: #40475D;
    float: left;
    font-size: 20px;
    margin: 67px 0 0 15px;
  }
}

.b-admin-content{
  .b-admin-content-title {
    margin: 10px 20px;
    font-size: 18px;
    color: #1b1e26;
  }

  .b-admin-content-comments {
    font-size: 14px;
    color: #40475D;

    img {
      border: 1px solid #ddd;
      float: left;
      margin: 0 10px 0 0;
    }
    
    li {
      display: block;
      overflow: hidden;
      list-style: none;
      padding: 20px 0 0;
      border-top: 1px solid #dddddd;
    }

    ul {
      margin: 0px 20px;
      padding: 0px;
    }
  }

  .list-header .nav {
    width: 440px;}
  
  .b-admin-content-body {
    border-bottom: 1px solid #d4d2af;
    padding: 20px 0;
    margin: 0px 20px;
    
    h2 {
      color: #2e6976;
      margin: 7px 0;
      font-size: 20px;
    }
    
    .body {
      font-size: 12px;
      line-height: 17px;
      float: left;
      margin: 7px 20px 7px 0px;
      text-align: justify;
    }
    
    .preview {
      float: left;
    }
    
    
    &.pic {
      .body {
        margin: 7px 20px 7px 0px;
        width: 665px;
      }
      
      .preview {
        border: 2px solid #ddd;
      }
    }
    
    &.video {
      .preview {
        width: 435px;
      }
      .body {
        margin: 7px 0px 7px 20px;
        width: 459px;
      }
    }
  }
  
  .b-admin-content-tools {
    padding: 20px;
    
    a {
      display: inline-block;
      font-size: 18px;
      padding: 4px 0;
      text-align: center;
      width: 105px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      margin-right: 20px;
    }
    
    .confirm {
      background: rgb(192,223,69); /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MwZGY0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MGIzMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top,  rgba(192,223,69,1) 0%, rgba(144,179,11,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,223,69,1)), color-stop(100%,rgba(144,179,11,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(192,223,69,1) 0%,rgba(144,179,11,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(192,223,69,1) 0%,rgba(144,179,11,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(192,223,69,1) 0%,rgba(144,179,11,1) 100%); /* IE10+ */
      background: linear-gradient(top,  rgba(192,223,69,1) 0%,rgba(144,179,11,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0df45', endColorstr='#90b30b',GradientType=0 ); /* IE6-8 */
      border: 1px solid #8fb20a;
    }
    
    .deny {
      background: rgb(71,80,104); /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3NTA2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDIwMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top,  rgba(71,80,104,1) 0%, rgba(29,32,41,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,80,104,1)), color-stop(100%,rgba(29,32,41,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(71,80,104,1) 0%,rgba(29,32,41,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(71,80,104,1) 0%,rgba(29,32,41,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(71,80,104,1) 0%,rgba(29,32,41,1) 100%); /* IE10+ */
      background: linear-gradient(top,  rgba(71,80,104,1) 0%,rgba(29,32,41,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475068', endColorstr='#1d2029',GradientType=0 ); /* IE6-8 */
      color: #ffffff;
      -webkit-text-shadow: 1px 1px 0 #1c1f27;
      -moz-text-shadow: 1px 1px 0 #1c1f27;
      text-shadow: 1px 1px 0 #1c1f27;
      border: 1px solid #303646;
    }
  }
}

