.b-upload {
  .b-upload__wizard {
    background: url(upload-wizard.png) no-repeat center center;
    height: 160px;
    border-bottom: 1px solid #dedcc0;
  }

  .b-upload__block {
    border-bottom: 1px solid #dedcc0;
    padding: 20px 0;
    margin: 0 36px;

    &.tools {
      text-align: center;
    }

    .title {
      font-size: 18px;
      line-height: 20px;
      margin: 0px;
      padding: 0px;
      font-weight: normal;
      &.strong {
        font-weight: bold;
      }
    }

    .title-hint {
      font-size: 12px;
      color: #1b1e26;
      opacity: 0.6;
      margin-bottom: 20px;
    }

    .row {
      padding: 10px 0;
    }

    .text-hint {
      color: #555;
      margin-left: 195px;
      font-size: 11px;
      width: 512px;
      margin-top: 4px;
    }

    .label {
      display: inline-block;
      margin-right: 20px;
      margin-top: 8px;
      text-align: right;
      vertical-align: top;
      width: 170px;
    }

    .preview-label {
      display: inline-block;
      margin-right: 20px;
      margin-top: 8px;
      text-align: right;
      vertical-align: top;
      margin-left: 20px;
    }

    input[type="text"], input[type="number"], textarea {
      display: inline-block;
      padding: 5px 6px;
      background: none repeat scroll 0 0 #F1EFD1;
      border: 1px solid #F1EFD1;
      -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
      -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
      box-shadow: 0 2px 2px #D8DCC1 inset;
    }

    input[type="text"], textarea {
      width: 514px;
    }

    .abstract textarea {
      max-width: 500px;
      min-width: 500px;
      width: 500px;
      height: 200px;
    }

    .verify {
      width: 640px;
      display: inline-block;
      font-size: 12px;
      margin-top: 6px;
    }

    .note {
      font-size: 12px;
      margin-left: 20px;
    }

  }
}

.b-copyright {
  .label {
    width: 40px !important;
  }
}

.b-select-file {
  .b-select-file__label {
    font-size: 18px;
    color: #1B1E26;
    display: block;
    margin: 30px 0 10px;
  }

  .b-select-file__hint {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }

  .b-select-file__btn {
    display: inline-block;
    vertical-align: middle;
  }

  .b-select-file__list {
    line-height: 14px;
    font-size: 14px;
    padding-top: 20px;

    .filename {
      color: #555;
      display: block;
      padding: 8px 10px;
      border-top: 1px solid #EEE;
    }

    .remove {
      color: #AAA;
      cursor: pointer;
      float: right;
      font-style: normal;

      &:hover {
        opacity: 1;
      }
    }

    b {
      float: right;
      margin: 0px 10px;
    }

  }
}

.b-tags {
  display: inline-block;
  position: relative;

  textarea {
    width: 515px !important;
    max-width: 515px !important;
    min-width: 515px !important;
    background: transparent !important;
    border: 1px solid #F1EFD1 !important;
    line-height: 20px !important; }

  .text-wrap {
    border: none;
    -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
    -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
    box-shadow: 0 2px 2px #D8DCC1 inset;
    background: #F1EFD1 !important; }

  .text-core .text-wrap .text-tags .text-tag .text-button {
    height: 24px;
    font-size: 13px;
    padding: 0 20px 0 7px;
    line-height: 20px;
    color: #444;
  }

  .text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
    top: 6px;
  }
}

.b-file-description {
  margin-top: 20px;
  .preview {
    width: 135px;
    margin: 10px 10px 0 0;
    height: 100px;
    background: rgba(242,239,180,0.6);
    padding: 7px;
    display: inline-block;
    vertical-align: top;
    img {
      height: 100px;
      width: 135px;
      display: block;
    }
  }
  .b-upload__form {
    display: inline-block;
    vertical-align: top;
  }
}

.b-collegues {
  display: inline-block;

  .b-collegues__list {
    padding: 0px;
    margin: 0 0 10px 0;
    width: 512px;
  }

  .b-collegues__item {
    display: inline-block;
    padding: 5px 5px;
    list-style: none;
    width: 200px;

    .text {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      vertical-align: middle;
      margin-right: 5px;
      border: 1px solid #DDD;
      display: inline-block;
    }

    .fullname {
      display: block;
      width: 125px;
      overflow: hidden;
    }

    .delete-btn {
      font-size: 11px;
      padding: 2px 5px;

      background: #EEE;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      display: block;
      margin-top: 5px;
      width: 40px;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: white;
        background: rgba(200,0,0,0.8);
      }
    }
  }

  .add-btn {
    font-size: 12px;
    padding: 4px 5px;
    margin-top: 10px;
    background: #669186;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 5px;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}



// .b-upload-item {
//   .b-upload-item__navigation {
//     margin: 40px 20px 0;

//     a {
//       background: url(btn-bg.png) repeat-x left top;
//       display: inline-block;
//       text-decoration: none;
//       width: 205px;
//       text-align: center;
//       padding: 10px 0;
//       border: 1px solid #aaa;
//       -webkit-border-radius: 8px;
//       -moz-border-radius: 8px;
//       border-radius: 8px;
//       -webkit-text-shadow: 1px 1px 0 #557e73;
//       -moz-text-shadow: 1px 1px 0 #557e73;
//       text-shadow: 1px 1px 0 #557e73;
//       -webkit-box-shadow: 0px 0px 4px rgba(255,255,255,0.5) inset;
//       -moz-box-shadow: 0px 0px 4px rgba(255,255,255,0.5) inset;
//       box-shadow: 0px 0px 4px rgba(255,255,255,0.5) inset;
//       text-transform: uppercase;
//       font-weight: bold;
//       font-size: 14px;
//       color: #fff;
//       margin: 0 3px 0 0; }

//     .additional {
//       width: 270px; }

//     .disabled {
//       border-color: #d0d0d0;
//       background-position: 0 -66px;
//       -webkit-text-shadow: 1px 1px 0 #fff;
//       -moz-text-shadow: 1px 1px 0 #fff;
//       text-shadow: 1px 1px 0 #fff;
//       color: #aaa; }

//     .active {
//       -webkit-text-shadow: 1px 1px 0 #e0ff69;
//       -moz-text-shadow: 1px 1px 0 #e0ff69;
//       text-shadow: 1px 1px 0 #e0ff69;
//       background-position: left bottom;
//       color: #1b1e26;
//       border-color: #afcc37; }

//   }

//   .b-upload-item__step {
//     margin: 40px 20px;
//     padding: 0px 20px;
//     border-top: 1px solid #D9D7B8;
//     border-bottom: 1px solid #D9D7B8;
//     overflow: hidden;

//     .row {
//       padding: 10px 0; }

//     .label {
//       display: inline-block;
//       margin-right: 20px;
//       margin-top: 8px;
//       text-align: right;
//       vertical-align: top;
//       width: 200px; }

//     .field_with_errors {
//       display: inline-block;
//       .label { margin-top: 2px; }
//     }

//     .abstract .field_with_errors .label {
//        margin-top: 8px; }

//     .input {
//       width: 512px;
//       display: inline-block; }

//     input[type="text"], input[type="number"], textarea {
//       display: inline-block;
//       padding: 5px 6px;
//       background: none repeat scroll 0 0 #F1EFD1;
//       border: 1px solid #F1EFD1;
//       -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
//       -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
//       box-shadow: 0 2px 2px #D8DCC1 inset;
//       width: 500px; }

//     textarea {
//       max-width: 500px;
//       min-width: 500px;
//       height: 200px; }

//     .text-hint {
//       color: #555555;
//       margin-left: 225px;
//       font-size: 11px; }

//     .textarea {
//
//     }

//     .help {
//       color: #444;
//       padding: 20px 0 0;
//       font-size: 12px; }

//     .btn-form {
//       margin-left: 225px; }

//     .text-core .text-wrap .text-tags .text-tag .text-button {
//       height: 24px;
//       font-size: 13px;
//       padding: 0 20px 0 7px;
//       line-height: 20px;
//       color: #444;
//     }

//     .text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
//       top: 6px;
//     }

//     .tools {
//       margin: 20px 0;
//       text-align: center;
//     }

//     .add-btn {
//       font-size: 12px;
//       padding: 4px 5px;
//       margin-left: 10px;
//       background: #83B2A6;
//       color: #fff;
//       -webkit-border-radius: 3px;
//       -moz-border-radius: 3px;
//       border-radius: 3px;
//       margin-top: 5px;
//       margin-left: 225px;
//       text-decoration: none;

//       &:hover {
//         color: #fff;
//         background: #669186; }
//     }

//     input[type="text"].price {
//       width: 100px; }


//     .verify {
//       font-size: 12px; }
//   }

//   .b-upload-item__title {
//     font-size: 18px;
//     margin: 20px 0 30px;
//     .hint {
//       font-size: 12px;
//       color: #8d8e92; }

//     &.hr {
//       margin: 40px 0 20px;
//       padding-top: 20px;
//       border-top: 1px solid #D9D7B8; }
//   }

//   .b-upload-item__collegues {
//     padding: 0px;
//     margin: 0px;
//     list-style: none;

//     li {
//       display: block;
//       padding: 5px 5px;
//       border-top: 1px solid #eee;
//       list-style: none; }

//     img {
//       width: 26px;
//       vertical-align: middle;
//       margin-right: 5px; }

//     .delete-btn {
//       font-size: 11px;
//       padding: 2px 5px;
//       margin-left: 10px;
//       background: #eee;
//       -webkit-border-radius: 3px;
//       -moz-border-radius: 3px;
//       border-radius: 3px;
//       float: right;
//       margin-top: 5px;

//       &:hover {
//         color: #fff;
//         background: red; }
//     }
//   }

//   .b-upload-item__uload-regular {
//     .select-file {
//       font-size: 18px;
//       color: #1b1e26;
//       text-decoration: none;
//       display: block;
//       width: 100%;
//       margin: 15px 0 10px; }

//     .btn-hint {
//       display: inline-block;
//       font-size: 14px;
//       vertical-align: middle;
//       margin-left: 20px; }
//   }

//   .b-upload-item__presenter-video {
//     margin: 0px 0 0 100px;
//     label {
//       display: inline-block;
//       vertical-align: middle;
//       width: 350px;
//       margin: 20px 0; }
//     img {
//       vertical-align: top; }

//     input[type=radio] {
//       margin: 10px;
//       vertical-align: top; }
//   }

//   .fl-l {
//     font-size: 14px;
//     padding: 10px 0;

//     .filename {
//       color: #555555;
//       display: block;
//       padding: 8px 10px;
//       border-top: 1px solid #eee; }

//     b {
//       float: right;
//       margin: 0px 10px; }

//     .remove{
//       color: #aaa;
//       cursor: pointer;
//       float: right;
//       &:hover { color: red }
//     }
//   }
// }