.b-user{
  margin-top: 20px;
  .b-user-content {
    width: 600px;
    padding: 0px 20px 20px 30px;
    float: left;
  }

  p {
    margin: 12px 0;
    font-size: 12px;
  }

  strong {
    color: #2f6d7a;
    display: block;
    font-size: 14px;
  }

  .b-user-info {
    width: 570px;
    border-bottom: 1px solid #d4d2af;
  }

  .b-user-preview {
    float: left;
    margin-bottom: 10px;

    .follow {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      font-weight: normal;
      font-size: 13px;
      padding: 10px 5px 10px 11px;
      margin: 13px auto;
      width: 80px;
      display: block;
      span {
        background: url("/assets/btn-icons-set.png") no-repeat scroll 0 -2px transparent;
        display: block;
        float: right;
        height: 18px;
        margin-left: 7px;
        width: 18px;
      }
      &.unfollow {
        width: 80px;
      }
    }

    div.light-button.follow.unfollow {
      cursor: default;
    }
  }

  .b-user-info-body {
    margin-left: 170px;
    font-size: 12px;
    line-height: 16px;

    textarea {
      height: 150px;
      padding: 6px 0;
      width: 398px;
      max-width: 398px;
      min-width: 398px;
      background: none repeat scroll 0 0 #F1EFD1;
      border: 1px solid #F1EFD1;
      -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
      -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
      box-shadow: 0 2px 2px #D8DCC1 inset;
    }

    input {
      &[type=text] {
        padding: 6px;
        width: 386px;
        max-width: 386px;
        min-width: 386px;
        background: none repeat scroll 0 0 #F1EFD1;
        border: 1px solid #F1EFD1;
        -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
        -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
        box-shadow: 0 2px 2px #D8DCC1 inset;
      }
    }

    .right {
      text-align: right;
    }

    .send {
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
      padding: 7px 12px;
      &.public {
        cursor: default; }
    }

  }

  h2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;
    margin: 15px 0;
  }

  .b-user-title {
    margin: 0;
  }


  .b-user-list {
    .item {
      width: 142px;
      display: block;
      text-decoration: none;
      font-size: 12px;
      line-height: 16px;
      color: #1b1e26;
      float: left;
      margin-right: 8px;
      margin-bottom: 20px;
      overflow: hidden;
    }
    b {
      display: block;
    }
    img {
      border: 3px solid #ddd;
    }
  }

  .b-user-sidebar {
    width: 250px;
    float: left;
    padding-left: 20px;
    border-left: 1px solid #d9d7b8;

    ul {
      margin: 25px 0 200px;
      padding: 0px;
    }

    li {
      list-style: none;
      display: block;
      padding: 0px 0 15px;
      overflow: hidden;
    }

    img {
      float: left;
      border: 2px solid #ededed;
    }

    .text {
      font-size: 12px;
      line-height: 14px;
      margin-left: 75px;
      color: #6e6e6e;
    }

    b {
      font-size: 14px;
      display: block;
      padding-bottom: 5px;
    }
  }
}

.b-settings {
  margin: 30px;
  h1 {
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;
    margin: 15px 0 20px;
  }

  .b-notification, .b-privacy {
    margin-left: 230px;
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      padding: 7px 8px;
      font-size: 12px;
      width: 360px;
      overflow: hidden;

      &:nth-child(2n-1){
        background: #dfeeea;
      }

      label {
        margin-left: 35px;
        display: block;
        line-height: 1.5;
      }
    }

    .submit {
      padding: 15px 0px;
      text-align: right;
      width: 376px;
      background: #fff !important;
    }

    input[type="checkbox"] {
      vertical-align: text-bottom;
      float: left;
      margin-top: 3px;
    }

    .b-settings-title {
      font-size: 18px;
      margin: 25px 0 10px;
    }

    .light-button.green {
      padding: 5px 15px;
      font-size: 14px;
      -webkit-text-shadow: none;
      -moz-text-shadow: none;
      text-shadow: none;
      line-height: 1;
    }
  }

  .b-info {
    margin-left: 210px;
    .education {
      width: 400px;
      margin: 0 0 20px;
      position: relative;
    }
    .bio {
      width: 400px;
      border: 1px solid #b8b479;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin: 0 0 20px;
      position: relative;
      .title {
        background: #dfeeea;
        padding: 10px 17px;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        font-size: 18px;
        position: relative;
        span {
          color: #4f8b7b;
          font-size: 12px;
          position: absolute;
          bottom: 10px;
          right: 13px;
          -webkit-text-shadow: 1px 1px 0 #fff;
          -moz-text-shadow: 1px 1px 0 #fff;
          text-shadow: 1px 1px 0 #fff;
        }
      }

      .body {
        padding: 17px;
        font-size: 14px;

        textarea {
          height: 55px;
          padding: 6px;
          width: 350px;
          max-width: 350px;
          min-width: 350px;
          background: none repeat scroll 0 0 #F1EFD1;
          border: 1px solid #F1EFD1;
          -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
          -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
          box-shadow: 0 2px 2px #D8DCC1 inset;
        }

        .right {
          text-align: right;
          padding: 10px 0px 0;
        }
      }
    }
    .edu-fields{
      border-radius: 10px;
      border: 1px solid #B8B479;
      padding: 0 0 15px 0;
      margin-bottom: 15px;
    }
    .form {
      ul {
        margin: 0;
        padding: 0;
      }

      img {
        margin: 5px 0 5px 0px;
      }

      #upcontainer {
        margin-left: 171px;}

      li {
        list-style: none;
        padding: 5px 0;
        &.remove{
          float:right;
          padding-right: 15px;
        }
      }

      label {
        display: block;
        float: left;
        font-size: 14px;
        line-height: 30px;
        width: 160px;
        text-align: right;
        margin-right: 10px;
      }

      input[type="text"] {
        width: 160px;
        padding: 5px 6px;
        background: none repeat scroll 0 0 #F1EFD1;
        border: 1px solid #F1EFD1;
        -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
        -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
        box-shadow: 0 2px 2px #D8DCC1 inset;
      }

      .right {
        text-align: right;
        padding: 10px 0px 0;
        width: 384px;
      }
    }

    .right {
      text-align: right;
      padding: 10px 0px 0;
      width: 384px;
    }

    .light-button.green {
      padding: 5px 15px;
      font-size: 14px;
      -webkit-text-shadow: none;
      -moz-text-shadow: none;
      text-shadow: none;
      line-height: 1;
    }
  }
}

.b-settings-nav {
  position: absolute;
  top: 252px;
  left: -12px;

  a {
    background: url("/assets/settings-set.png") no-repeat scroll 0 -127px transparent;
    color: #518c7d;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 42px;
    padding: 9px 0 7px 20px;
    text-decoration: none;
    width: 153px;
    -webkit-text-shadow: 1px 1px 0 #fff;
    -moz-text-shadow: 1px 1px 0 #fff;
    text-shadow: 1px 1px 0 #fff;
    margin-bottom: 8px;

    span {
      font-weight: normal;
      font-size: 11px;
      display: block;
    }

    &:hover {
      color: #1B1E26;
      background-position: 0 1px;
    }

    &.selected {
      color: #1B1E26;
      background-position: 0 -60px;
    }
  }
}

.b-colleagues {
  h3 {
    width: 60%;
    float: left;
  }

  .b-colleagues-container{
    padding: 10px 20px 10px 30px;
    .b-colleagues-item {
      display: block;
      float: left;
      height: 64px;
      width: 140px;
      margin: 0 10px 25px 0;
      cursor: pointer;

      img {
        border: 2px solid #ddd;
        float: left;
      }

      .title {
        float: left;
        font-size: 14px;
        margin: 3px 0 0 7px;
        overflow: hidden;
        text-decoration: none;
        color: #1b1e26;
        width: 68px;
      }
    }
  }
}

#send-message.ui-dialog-content.ui-widget-content{
  overflow: initial;
  p{
    textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      background: none repeat scroll 0 0 #F1EFD1;
      border: 1px solid #F1EFD1;
      -webkit-box-shadow: 0 2px 2px #D8DCC1 inset;
      -moz-box-shadow: 0 2px 2px #D8DCC1 inset;
      box-shadow: 0 2px 2px #D8DCC1 inset;
      height: 150px;
    }
  }
}