
ul.recorder-control {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.recorder-icon {
  min-width: 16px;
  height: 16px;
  //background-color: gray;
}

#recorder-status {
  color: red;
}