ul.recorder-control {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.fl-r {
  float: right;
}
.clearfix{
  clear: both;
  padding-top: 15px;
}
.recorder-icon {
  min-width: 16px;
  height: 16px;
  //background-color: gray;
}
.button{
  min-width: 16px;
  min-height: 16px;
  background-color: darkRed;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background-color: red;
  }
}
.c-white{
  color: white;
}
.bg-green{
  background-color: darkGreen;
  &:hover{
    background-color: green;
  }
}
#recorder-status {
  color: red;
}

.progress-bar{
  width: 300px;
  padding: 5px;
  border: 1px solid gray;
  margin: 5px;
  display: none;
  .inner{
    width: 0px;
    background-color: lightBlue;
    text-align: center;
  }
}

.spinner{
  background: url("/assets/ajax-loader.gif") no-repeat ;
  width: 32px;
  height: 32px;
}

.centered-div{
  display:block;

  /*set the div in the center of the screen*/
  position:absolute;
  top:50%;
  left:35%;
}