%form

%div.community_menu_container
  %select.community_list{ name: "user[community_ids][]", multiple: true, placeholder: "Pick Your Communities" }
    - Community.all.each do |c|
      %option.community_option{ value: c.id }
        = c.name
        -# %img{ src: "/assets/communities/#{c.slug}.png" }

:javascript
  $(main);

  function main(){
    $("select.community_list").dropp({ 
      'class_dropdown_wrapper' : 'communities_dropdown_wrapper' 
    });

    var community_elements = $(".communities_dropdown_wrapper ul li a");
    
    community_elements.each(function(){
      $this = $(this);
      var text = $this.text().trim().toLowerCase();
      $this.addClass(text);

    });

    community_elements.click(function(){ $(this).toggleClass("checked") });
    $("ul.dropp_dropdown_list li a").click(function(){ $("ul.dropp_dropdown_list").hide() });

  }

