- pdf = attachment.is_processed_to_pdf? ? attachment.file.pdf : attachment.file
-# flash = attachment.file.pdf_flash #attachment.is_processed_to_pdf? ? attachment.file.pdf : attachment.file

-# %div{:id => "viewer_place_holder", :style => "width:770px;height:500px"}
%div{:id => "document_viewer", :style => "width:100%;height:500px;display:block", :class => "flexpaper_viewer"}
:javascript

    $('#document_viewer').FlexPaperViewer(
                   { config : {
                     JSONFile : '#{ attachment.file.pdf_json.url }',
                     IMGFiles : '#{ attachment.get_imgs }',
                     jsDirectory : '/javascripts/flexpaper/',
                     Scale : 0.6,
                     ZoomTransition : 'easeOut',
                     ZoomTime : 0.5,
                     ZoomInterval : 0.2,
                     FitPageOnLoad : true,
                     FitWidthOnLoad : false,
                     FullScreenAsMaxWindow : false,
                     ProgressiveLoading : false,
                     MinZoomSize : 0.2,
                     MaxZoomSize : 5,
                     SearchMatchAll : false,
                     InitViewMode : 'Portrait',
                     RenderingOrder : 'html4',
                     StartAtPage : '',

                     ViewModeToolsVisible : true,
                     ZoomToolsVisible : true,
                     NavToolsVisible : true,
                     CursorToolsVisible : false,
                     SearchToolsVisible : true,
                     WMode : 'window',
                     localeChain: 'en_US',
                     localeDirectory : '/javascripts/flexpaper/',
                     key: '$5a7949586573e07f70d'
                }}

    );

