%script{:src => "/assets/pdf.js", :type => "text/javascript"}

%canvas#pdf-viewer{:style=>"width:100%"}
= link_to "next page", item_pdf_page(@item)
:javascript
  'use strict';
  PDFJS.workerSrc = "../assets/pdf.js";
  var pdf, currentPage;

  var renderPdf = fundtion(data, page){
    pdf = new PDFJS.PDFDoc(data);
    var page = pdf.getPage(page || 1);
    var scale = 1;

    //
    // Prepare canvas using PDF page dimensions
    //
    var canvas = document.getElementById('pdf-viewer');
    var context = canvas.getContext('2d');
    canvas.height = page.height * scale;
    canvas.width = page.width * scale;

    //
    // Render PDF page into canvas context
    //
    page.startRendering(context);
  };

  PDFJS.getPdf("#{attachment.file.document}", function getPdfData(data) {
    renderPdf(data, page);
  });
