- pdf = attachment.is_processed_to_pdf? ? attachment.file.pdf : attachment.file
-# flash = attachment.file.pdf_flash #attachment.is_processed_to_pdf? ? attachment.file.pdf : attachment.file

%div{:id => "viewerPlaceHolder", :style => "position:absolute;width:680px;height:480px;display:block;", :class => 'flexpaper_viewer'}
:javascript

    $('#viewerPlaceHolder').FlexPaperViewer(
                   { config : {
                     SWFFile : '#{ pdf.url }',
                     jsDirectory : '/javascripts/flexpaper/',
                     Scale : 0.6,
                     ZoomTransition : 'easeOut',
                     ZoomTime : 0.5,
                     ZoomInterval : 0.2,
                     FitPageOnLoad : true,
                     FitWidthOnLoad : false,
                     FullScreenAsMaxWindow : false,
                     ProgressiveLoading : false,
                     MinZoomSize : 0.2,
                     MaxZoomSize : 5,
                     SearchMatchAll : false,
                     InitViewMode : 'Portrait',
                     RenderingOrder : 'html5',
                     StartAtPage : '',

                     ViewModeToolsVisible : true,
                     ZoomToolsVisible : true,
                     NavToolsVisible : true,
                     CursorToolsVisible : true,
                     SearchToolsVisible : true,
                     WMode : 'window',
                     localeChain: 'en_US',
                     localeDirectory : '/javascripts/flexpaper/',
                     key: '$5a7949586573e07f70d'
                }}
    );

