-# pdf = attachment.is_processed_to_pdf? ? attachment.file.pdf : attachment.file
- flash = attachment.file.pdf_flash #attachment.is_processed_to_pdf? ? attachment.file.pdf : attachment.file

-# %script{:src => "/javascripts/flexpaper/flexpaper_handlers.js", :type => "text/javascript"}
%div{:id => "viewerPlaceHolder", :style => "width:680px;height:480px;display:block"}
:javascript

    $('#viewerPlaceHolder').FlexPaperViewer(
                   { config : {
                     SWFFile : '#{ flash.url }',
                     jsDirectory : '/javascripts/flexpaper/',
                     Scale : 0.6,
                     ZoomTransition : 'easeOut',
                     ZoomTime : 0.5,
                     ZoomInterval : 0.2,
                     FitPageOnLoad : true,
                     FitWidthOnLoad : false,
                     FullScreenAsMaxWindow : false,
                     ProgressiveLoading : false,
                     MinZoomSize : 0.2,
                     MaxZoomSize : 5,
                     SearchMatchAll : false,
                     InitViewMode : 'Portrait',
                     RenderingOrder : 'flash',
                     StartAtPage : '',

                     ViewModeToolsVisible : true,
                     ZoomToolsVisible : true,
                     NavToolsVisible : true,
                     CursorToolsVisible : true,
                     SearchToolsVisible : true,
                     WMode : 'window',
                     localeChain: 'en_US',
                     localeDirectory : '/javascripts/flexpaper/'
                     //key: '$5a7949586573e07f70d'
                }}
    );

