.addthis_toolbox.addthis_default_style.addthis_32x32_style
  %a.addthis_button_facebook
  %a.addthis_button_twitter
%script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f0f49d4565a51b3", :type => "text/javascript"}
:javascript
  var addthis_share = {
    title: "#{title}",
    description: "#{description}",
    url_transforms : {clean: true},
    templates: {twitter: '{{title}} {{url}} #ordothontics360'}
  }