:javascript
  _V_.options.flash.swf = "/assets/video-js.swf";

%video#attachment_video.video-js.vjs-default-skin{:controls => "", "data-setup" => "{}", :height => "264", :poster => "http://video-js.zencoder.com/oceans-clip.png", :preload => "none", :width => "435"}
  %source{:src => "#{attachment.url}", :type => "video/mp4"}