:javascript
    var ins;
    $(function(){
        ins = Inscription.run({
            container: 'inscription',
            player: {
                resource: 'http://89.209.76.243:5580/uploads/attachment/file/992/mp4_85c01683-647d-4408-a6d8-beae3e538297-presentation_video_Simple4.mp4',
                server: 'rtmp://89.209.76.243'
            }
        });

        ins.on('load', function() {
            setTimeout(function() {
                var points = Inscription.Point.read('00:00:13,290;00:00:17,581;00:00:18,873;00:00:21,663;00:00:23,955;00:00:27,245;00:00:27,245');

                _.each(points, function(point) {
                    ins.point.add(point);
                    console.log('Added point: ' + point + ' ms...');
                });
            }, 5000);

        });

        var callback = function() {
            console.log(arguments);
        }

        ins.on('play', callback);
        ins.on('stop', callback);
        ins.on('pause', callback);
        ins.on('tick', callback);
    });

#inscription