:javascript
    var ins;
    $(function(){
        ins = Inscription.run({
            container: 'inscription',
            player: {
                resource: "{attachment.file.mp4.url()}",
                server: 'rtmp://localhost'
            }
        });

        ins.on('play', callback);
        ins.on('stop', callback);
        ins.on('pause', callback);
        ins.on('tick', callback);
    });

#inscription